*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

body{
    background-color: green;

}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.card{
    margin-top: 30px;
    padding: 20px;
    max-width: 768px;
}

button{
    margin-top: 10px;
}
